<ul>
  <li><%= link_to "538 Ligue 1", "https://projects.fivethirtyeight.com/soccer-predictions/ligue-1/", :target => '_blank' %></li>
  <li><%= link_to "FDJ Ligue 1", "https://www.parionssport.fr/parisouverts/football/%5B241%5D", :target => '_blank' %></li>
</ul>

<div id="odds">
  <img src='https://mir-s3-cdn-cf.behance.net/project_modules/disp/04de2e31234507.564a1d23645bf.gif'
  alt='Loading...'
  />
</div>
